{% extends 'main/base.html' %}
<!-- Password reset request form -->
{% block content %}
<div class="splash">
    <div class="well login">
        <h4>Password reset</h4>
        <div>
            <!-- code for displaying success or error message -->
            {% if form.errors %}
            <div>
                <div class="alert alert-danger">
                {% if form.errors.items|length == 1 %}
                    Please correct the error below.
                {% else %}
                    Please correct the errors below.
                {% endif %}
                </div>
            </div>
            {% endif %}
            {% if messages %}
            <div>
                {% for message in messages %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}
            <!-- Form rendering code for template -->
            <form action="" method="post" role="form">

                {% csrf_token %}
                {{ form.as_p }}

                <input class="btn btn-info" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</div>

{% endblock %}