{% extends "main/base.html" %}

{% block content %}
<div class="white-box">
    <div>
        <h3>New user registration</h3>
        <div class="text-muted">
            Enter your user information below.  Fields marked with a <span class="red">*</span>
            are required.
        </div>
        <div class="vpadding20">
            <form enctype="multipart/form-data" method="post" action="{% url 'register' %}">

                {% csrf_token %}

                {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.label }}">
                        {{ field.label_tag }}
                        {% if field.field.required %}<span class="red">*</span>{% endif %}
                        <span class="text-danger">{{ field.errors.as_text }}</span>
                    </label>
                    {{field}}
                </div>
                {% endfor %}

                <input type="submit" name="submit" value="Submit" class="btn btn-info" role="button"/>
            </form>
        </div>
    </div>
</div>
{% endblock %}

