{% extends 'main/base.html' %}
<!-- Password reset request form -->
{% block content %}
<div class="splash">
    <div class="well login">
        <h4>Could not complete user account denial</h4>
        <div>
            <div class="alert alert-danger">
                The account denial link you used is no longer valid.
            </div>
            <div>
                Please click <a href="{% url 'home' %}">here</a> to return to {{APP_NAME}}.
            </div>
        </div>
    </div>
</div>

{% endblock %}