{% extends 'main/base.html' %}
<!-- Password reset request form -->
{% block content %}
<div class="splash">
    <div class="well login">
        <h4>Forgot username</h4>
        <div>
            <!-- code for displaying success or error message -->
            {% if messages %}
            <div>
                {% for message in messages %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}
            <!-- Form rendering code for template -->
            <form action="" method="post" role="form">

                {% csrf_token %}
                {{ form.as_p }}

                <input class="btn btn-info" type="submit" value="Submit" />
            </form>
        </div>
    </div>


</div>

{% endblock %}