{% extends "main/base.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
<h4>{{ link }}</h4>

<!--Add link to TRACI as button https://www.epa.gov/chemical-research/tool-reduction-and-assessment-chemicals-and-other-environmental-impacts-traci -->

<address>
    Dr. Briana Niblick, Principal Investigator (PI) and Technical Lead<br />
    Cincinnati, OH 45246<br />
    <abbr title="Phone">P:</abbr>
    513.569.7400
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Niblick.Briana@epa.gov">Niblick.Briana@epa.gov</a><br />
    <strong>Branch Chief:</strong> <a href="mailto:Parker.Randy@epa.gov">Parker.Randy@epa.gov</a>
</address>

{% endblock %}
