{% extends "main/base.html" %}

{% block content %}

<!--{#<div class="jumbotron">
    <h1>TRACI 2.2</h1>
    <p class="lead">Tool for the Reduction and Assessment of Chemical and other environmental Impacts 2.2 (Updated 3/2/2022).</p>
    <div class="row">
        <p class="col-md-4"><a href="https://github.com/USEPA/TRACI & https://traci.epa.gov" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
        <div class="row col-md-4 float-right">
            <p class="col-md-6"><a href="{% url 'login' %}" class="btn btn-primary btn-large">Log in</a></p>
            <p class="col-md-6"><a href="{% url 'register' %}" class="btn btn-primary btn-large">Register</a></p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Available from:
                     US EPA, Office of Research and Development (ORD)
                     Center for Environmental Solutions and Emergency Response (CESER)
                     Land Remediation and Technology Division (LRTD)
                     Environmental Decision Analytics Branch (EDAB)
        </p>
           Disclaimer: Use of TRACI, including but not limited to the impact assessment modeling, does not create regulatory or scientific approval by the US EPA on any issues to which it is applied, nor does it release any users from any potential liability, either administratively or judicially, for any damage to human health or the environment.  The US EPA does not make any warranty concerning the correctness of the database, any actions taken by third parties as a result of using the model, or the merchantability or fitness for a particular purpose of the model.  The EPA does not endorse any products or services.

           Updates
                     Date of Change	Documented Change
                     11/17/2014	Methyl Chloride ODP was changed from 0.2 to 0.02
                     2/15/2022	Fossil fuel CFs and references were removed.
                     3/2/2022	Zero placeholders were changed to n/a.
    </div>
</div>#}-->
{% endblock %}
