{% extends "main/base.html" %}

{% block content %}

<div class="jumbotron">
    <h1>TRACI</h1>
    <p class="lead">TRACI - the Tool for the Reduction and Assessment of Chemical and other environmental Impacts.</p>
    <div class="row">
        <p class="col-md-4"><a href="https://github.com/USEPA/TRACI" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
        <div class="row col-md-4 float-right">
            <p class="col-md-6"><a href="{% url 'login' %}" class="btn btn-primary btn-large">Log in</a></p>
            {#<p class="col-md-6"><a href="{% url 'register' %}" class="btn btn-primary btn-large">Register</a></p>#}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Software/Secondary Data and its intended application The EPA National Risk Tool for
            Management Research Laboratory (NRMRL) has developed TRACI - the Reduction and
            Assessment of Chemical and other environmental Impacts - to provide the impact
            assessment framework, methodologies, and associated factors to allow assessment
            of various impact categories. The impact categories selected for inclusion within
            TRACI are considered a minimal set that may be expanded with future versions. The
            associated work will support further development of the basic research underlying
            the taxonomy of comprehensive impact assessment, the impact assessment methodologies
            and associated factors, case studies, and normalization.
        </p>
        <p><a class="btn btn-default" href="https://www.epa.gov/land-research">Land, Oil Spill, and Waste Management Research &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>United States Environmental Protection Agency</h2>
        <p>Models, Tools, and Databases for Land and Waste Management Research.</p>
        <p><a class="btn btn-default" href="https://www.epa.gov/land-research/models-tools-and-databases-land-and-waste-management-research">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>US EPA, Office of Reseach and Development (ORD)</h2>
        <p>About the Office of Reseach and Development.</p>
        <p><a class="btn btn-default" href="https://19january2017snapshot.epa.gov/aboutepa/about-office-research-and-development-ord_.html">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
