{% extends "main/base.html" %}

{% block content %}

<h2>Scenario Page TODO</h2>

<div class="row">
    <div class="col-sm-5">
        <div class="ui-widget">
            <label for="substances">Substance Search: </label>
            <input id="substances" class="form-control" />
        </div>
    </div>
    <div class="col-sm-7">
        <label for="selectedSubstances">Selected Substances: </label>
        <ul id="selectedSubstances" class="list-group"></ul>
    </div>
</div>

<div class="row my-1">
    <div class="col-sm-12 text-center">
        <button class="btn btn-sm btn-info mx-1" onclick="runCalculation()">Run Calculation</button>
        <button class="btn btn-sm btn-warning mx-1" onclick="clearSubstances()">Clear Substances</button>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    const LI = [
        '<li class="list-group-item">', '!SUB!',
        '<button class= "float-right btn-sm mb-0" onclick="removeSelectedSubstance(this, \'!SUB!\')">',
        'Remove',
        '</button></li> '
    ].join('');
    const SUBSTANCES_SOURCE = '/substances/api/substance_list/';

    var selected = [];

    $(function () {
        $("#substances").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: SUBSTANCES_SOURCE,
                    data: {
                        'term': $('#substances').val(),
                        'except': JSON.stringify(selected)
                    },
                    cache: false,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        if (data) response(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(textStatus);
                    }
                })
            },
            select: function (event, ui) {
                selected.push(ui.item.value);
                // Replace all instances of string !SUB! with the substance name
                $("#selectedSubstances").append(LI.replace(/!SUB!/g, ui.item.value));
                // Remove the selected substance from the dropdown.
                $("#ui-id-1 li:contains('" + ui.item.value + "')")[0].remove();
                // If we cleanly return from this function, then the dropdown will disappear.
                // This throw is a dirty workaround to keep the dropdown open after selecting a substance.
                throw 'Expected error...';
            },
            minLength: 2,
        });
    });
    
    function removeSelectedSubstance(el, sub) {
        $(el).closest('li').remove();
        selected.splice($.inArray(sub, selected), 1);
        //updateSource();
    }

    function clearSubstances() {
        // Clear the selected array.
        selected.length = 0;
        // Empty the list
        $("#selectedSubstances").empty();
    }

    function runCalculation() {
        if (selected.length === 0) return;
        console.log("TODO run calculation");
        $.post("/scenario/", { 'substances': JSON.stringify(selected) }, function (result) {
            console.log(result);
        });
    }
</script>
{% endblock %}