{% extends "main/base.html" %}
{% load humanize %}
{#{% load custom_filters %}#}
{% block content %}
<div class="white-box">
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'dashboard' %}?show=teams">
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item active">Team Members</li>
    </ol>
    <h5 class="separator">Manage memberships for team '{{team.name}}'</h5>

    <div class="vmargin20">
        {% if team.team_memberships %}
        <div class="content-group">
            <h5>
                Total members: {{team.team_memberships | length}}
            </h5>
            <div>
                <ul class="list-group">
                    {% for membership in team.team_memberships %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-4">
                                {% if membership.member.first_name %}
                                {{membership.member.first_name}} {{membership.member.last_name}}
                                {% else %}
                                {{membership.member.username}}
                                {% endif %}
                            </div>
                            <div class="col-sm-4">
                                {{membership.added_date}}
                            </div>
                            <div class="col-sm-3">
                                {% if membership.is_owner %}
                                Owner
                                {% elif membership.can_edit %}
                                Can edit
                                {% else %}
                                Can view
                                {% endif %}
                            </div>
                            <div class="col-sm-1">
                                {% if membership.is_owner == False %}
                                <form method="post" action="{% url 'team_manage' team_id %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="command" value="deleteuser" />
                                    <input type="hidden" name="user_id" value="{{membership.member.id}}" />
                                    <button class="btn btn-xs btn-link" type="submit">
                                        <span class="red glyphicon glyphicon-remove"></span>
                                    </button>
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <h5>
                Add members
            </h5>
            <div class="scroll">
                <ul class="list-group">
                    {% for member in nonmembers %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-4">
                                {% if member.first_name %}
                                {{member.first_name}} {{member.last_name}}
                                {% else %}
                                {{member.username}}
                                {% endif %}
                            </div>
                            <div class="col-sm-4">
                                {{member.email}}
                            </div>
                            <div class="col-sm-3">
                            </div>
                            <div class="col-sm-1">
                                <form method="post" action="{% url 'team_manage' team_id %}">
                                    {% csrf_token %}

                                    <input type="hidden" name="command" value="adduser" />
                                    <input type="hidden" name="user_id" value="{{member.id}}" />
                                    <button class="btn btn-xs btn-link" type="submit">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10"> </div>
        <div class="col-sm-2">
            <a class="btn btn-primary" href="{% url 'dashboard' %}?show=teams">Done</a>
        </div>
    </div>

    {% endif %}
</div>
{% endblock %}
