{% extends "main/base.html" %}

{% block content %}
<div class="container">
    <h3>Product Step 3: Define Chemical Releases and Resources</h3>
    <div class="mb-3 row">
        {# TODO Replace all products with process, generally update this template #}
        <div class="col-sm-9">{% include 'process/process_details_partial.html' %}</div>
        <div class="col-sm-3 my-2">
            <button onclick="window.location.href='/products/lifecyclestage/detail/{{object.lifecyclestage.id}}'"
                    class="my-2 col-md-12 btn btn-md btn-info">Back to Life Cycle Stage Details</button>
            <button onclick="window.location.href='/products/process/edit/{{object.id}}/'"
                    class="my-2 col-md-12 btn btn-md btn-warning">Edit Life Cycle Stage Info</button>
            <button onclick="window.location.href='/products/process/delete/{{object.id}}/'"
                    class="my-2 col-md-12 btn btn-md btn-danger">Delete Life Cycle Stage</button>
        </div>
    </div>

    <div class="mt-4 row">
        {#<div class="col-sm-6">{% include 'resourcerelease/resourcerelease_list_partial.html' %}</div>#}
        <div class="col-sm-6" id="resourcereleaseDetailPreview"></div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function addResourcerelease(id) {
        window.location.href = '/products/resourcerelease/create?process_id=' + id;
        console.log("TODO add Resourcerelease.");
    }
    function editResourcerelease(btn) {
        if ($(btn).attr('disabled')) return;
        console.log("TODO edit Resourcerelease.");
    }
    function removeResourcerelease(btn) {
        if ($(btn).attr('disabled')) return;
        console.log("TODO remove Resourcerelease.");
    }
</script>
{% endblock %}