{% extends "main/base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <h3>Creating a new Chemical Resource / Release for Process {{process_id}}</h3>
        <div class="col-md-12">
            <form action="/products/resourcerelease/create?process_id={{process_id}}" method="post">
                <div class="col-lg-12">
                    <div class="ui-widget">
                        <!--<label for="chemicals">Chemical Search: </label>-->
                        <label>{{form.chemical.label}}</label>
                        {{form.chemical}}
                        <!--<input id="chemicals" class="form-control" />-->
                    </div>
                </div>
                {#{{form.chemical}}#}

                <div class="col-lg-4">
                    <label>{{form.type.label}}</label>
                    {{form.type}}
                </div>
                
                <div class="col-lg-2">
                    <label>{{form.media.label}}</label>
                    {{form.media}}
                </div>
                
                <div class="col-lg-3">
                    <label>{{form.quantity.label}}</label>
                    {{form.quantity}}
                </div>
                
                <div class="col-lg-3">
                    <label>{{form.unit.label}}</label>
                    {{form.unit}}
                </div>

                <label>{{form.process.label}}</label>
                {{form.process}}

                {% include 'next_reset_cancel_partial.html' %}
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function updateUnits(data) {
        console.log(data);
    }

    $("#id_type").on('change', function (e) {
        var sel = e.target.selectedOptions[0];
        var typeId = $(sel).val();
        var typeName = $(sel).text();
        console.log(typeId + ': ' + typeName);
        // GET Units of Measurement for the selected
        $.ajax({
            url: '/chemicals/api/units_for_type/',
            data: {
                'type_id': typeId
            },
            cache: false,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                if (data) updateUnits(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus);
            }
        });
    });

    const CHEMICALS_SOURCE = '/chemicals/api/chemical_list/';
    $(function () {
        $("#id_chemical").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: CHEMICALS_SOURCE,
                    data: {
                        'term': $('#id_chemical').val()
                    },
                    cache: false,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        if (data) response(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(textStatus);
                    }
                })
            },
            minLength: 2,
        });
    });
</script>
{% endblock %}