<div class="col-sm-4"><h4>Chemical Releases and Resources</h4></div>
<div class="col-sm-1 mx-1"><i onclick="addResourcerelease({{object.id}})" class="fas fa-plus btn btn-sm btn-info"></i></div>
<div class="col-sm-1 mx-1"><i onclick="editResourcerelease(this)" class="fas fa-edit btn btn-sm btn-warning" disabled></i></div>
<div class="col-sm-1 mx-1"><i onclick="removeResourcerelease(this)" class="fas fa-minus btn btn-sm btn-danger" disabled></i></div>
<div class="col-sm-2 mx-1 mb-1"><i onclick="viewResourceReleaseFactors(this)" class="btn btn-sm btn-success" disabled>View Factors</i></div>

<table class="table table-bordered table-hover">
    <caption>Chemical Releases and Resources</caption>
    <thead class="table-secondary">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Media</th>
            <th scope="col">Quantity</th>
            <th scope="col">Unit</th>
        </tr>
    </thead>
    {% if release_list or resource_list %}
    <tbody>
        {% for chem in release_list %}
            <tr id="release_{{chem.id}}" onclick="rowClick('release_{{chem.id}}')">
                <th scope="row">{{chem.chemical.name}}</th>
                <td scope="row">{{chem.release_media.name}}</td>
                <td scope="row">{{chem.release_quantity}}</td>
                <td scope="row">{{chem.release_unit.name}}</td>
            </tr>
        {% endfor %}
        {% for resource in resource_list %}
            <tr id="resource_{{resource.id}}" onclick="rowClick('resource_{{resource.id}}')">
                <th scope="row">{{resource.substance_type.name}}</th>
                <td scope="row">{{resource.resource_media.name}}</td>
                <td scope="row">{{resource.resource_quantity}}</td>
                <td scope="row">{{resource.resource_unit.name}}</td>
            </tr>
        {% endfor %}
    </tbody>
    {% else %}
    <tr><td>No Chemical Releases or Resources have been added!</td></tr>
    {% endif %}
</table>