{% extends "main/base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <h3>Creating a new Chemical Resource / Release for Process {{process_id}}</h3>
        <div class="col-md-12">
            <form action="/products/resourcerelease/create?process_id={{process_id}}" method="post">
                <label>{{form.substance.label}}</label>
                {#{{form.substance}}#}

                <div class="col-lg-4">
                    <label>{{form.type.label}}</label>
                    {{form.type}}
                </div>
                
                <div class="col-lg-2">
                    <label>{{form.media.label}}</label>
                    {{form.media}}
                </div>
                
                <div class="col-lg-3">
                    <label>{{form.quantity.label}}</label>
                    {{form.quantity}}
                </div>
                
                <div class="col-lg-3">
                    <label>{{form.unit.label}}</label>
                    {{form.unit}}
                </div>

                <label>{{form.process.label}}</label>
                {{form.process}}

                {% include 'next_reset_cancel_partial.html' %}
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>

</script>
{% endblock %}