{% extends "main/base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <h3>Creating a new Chemical Resource / Release for Process {{process_id}}</h3>
        <div class="col-md-12">
            <form action="/products/resourcerelease/create?process_id={{process_id}}" method="post">
                <div class="col-lg-12">
                    <label>{{form.substance_type.label}}</label>
                    {{form.substance_type}}
                </div>

                <div id="releaseForm">
                    <div class="col-lg-12">
                        <div class="ui-widget">
                            <label>{{release_form.chemical.label}}</label>
                            {{release_form.chemical}}
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label>{{release_form.media.label}}</label>
                        {{release_form.media}}
                    </div>
                    <div class="col-lg-2">
                        <label>{{release_form.quantity.label}}</label>
                        {{release_form.quantity}}
                    </div>
                    <div class="col-lg-3">
                        <label>{{release_form.unit.label}}</label>
                        {{release_form.unit}}
                    </div>
                    <div class="col-lg-3">
                        <label>{{release_form.process.label}}</label>
                        {{release_form.process}}
                    </div>
                </div>
                

                <div id="resourceForm" style="display:none;">
                    <div class="col-lg-3">
                        <label>{{resource_form.media.label}}</label>
                        {{resource_form.media}}
                    </div>
                    <div class="col-lg-2">
                        <label>{{resource_form.quantity.label}}</label>
                        {{resource_form.quantity}}
                    </div>
                    <div class="col-lg-3">
                        <label>{{resource_form.unit.label}}</label>
                        {{resource_form.unit}}
                    </div>
                    
                    <div class="col-lg-3">
                        <label>{{resource_form.process.label}}</label>
                        {{resource_form.process}}
                    </div>
                </div>

                {% include 'next_reset_cancel_partial.html' %}
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function updateUnits(data) {
        console.log(data);
    }

    $("#id_substance_type").on('change', function (e) {
        var sel = e.target.selectedOptions[0];
        var typeId = $(sel).val();
        var typeName = $(sel).text();
        console.log(typeId + ': ' + typeName);
        if (typeName.toLowerCase() === 'chemical release') {
            $("#resourceForm").hide();
            $("#releaseForm").show();
        } else {
            $("#releaseForm").hide();
            $("#resourceForm").show();
        }
    });

    //$("#id_type").on('change', function (e) {
    //    var sel = e.target.selectedOptions[0];
    //    var typeId = $(sel).val();
    //    var typeName = $(sel).text();
    //    console.log(typeId + ': ' + typeName);
    //    // GET Units of Measurement for the selected
    //    $.ajax({
    //        url: '/chemicals/api/units_for_type/',
    //        data: {
    //            'type_id': typeId
    //        },
    //        cache: false,
    //        type: 'GET',
    //        dataType: 'json',
    //        success: function (data) {
    //            if (data) updateUnits(data);
    //        },
    //        error: function (jqXHR, textStatus, errorThrown) {
    //            console.log(textStatus);
    //        }
    //    });
    //});

    const CHEMICALS_SOURCE = '/chemicals/api/chemical_list/';
    $(function () {
        $("#id_chemical").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: CHEMICALS_SOURCE,
                    data: {
                        'term': $('#id_chemical').val()
                    },
                    cache: false,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        if (data) response(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(textStatus);
                    }
                })
            },
            minLength: 2,
        });
    });
</script>
{% endblock %}