{% extends "main/base.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>The purpose of TRACI is to allow a determination of priorities or a preliminary comparison of two or more options on the basis of the following environmental impact categories: acidification, ecotoxicity, eutrophication, global warming, human health cancer, human health criteria, human health noncancer, ozone depletion, photochemical smog formation, and fossil fuel use. TRACI is an impact assessment tool that supports consistency in environmental decision-making. It is recognized that additional tools may be useful to assess, prioritize and reduce potential environmental impacts. This users guide presents information to assist in the use of, limitations and uncertainties associated with, and information concerning, the methodologies within TRACI.</p>

{% endblock %}
