{% extends "main/base.html" %}
{% load humanize %}
{% block content %}
<div class="white-box">
    <h2>{{layout_name}}</h2>
    <!-- <div><p>Details here</p></div> -->

    <!-- tab navigation -->
    <ul class="nav nav-tabs">
        <li>
            <li class="{% if open_tab == 'scenario' %}active{% endif %}">
            <a href="#scenario" data-toggle="tab" onclick="updateActive(this)">Scenario</a>
        </li>
        <li class="{% if open_tab != 'scenario' and open_tab != 'stressors' %}active{% endif %}">
            <a href="#teams" data-toggle="tab" onclick="updateActive(this)">Teams</a>
        </li>
        <li>
            <li class="{% if open_tab == 'stressors' %}active{% endif %}">
            <a href="#stressors" data-toggle="tab" onclick="updateActive(this)">Inventory of Stressors</a>
        </li>
    </ul>

    <div id="dashboardTabContent" class="tab-content">
        <!-- Scenario tab -->
        <!-- Need Jake to add the excel workbook to this page open and edit save -->
        <div class="tab-pane fade {% if open_tab == 'scenario' %}active{% endif %} in" id="scenario">
            <table class="table">
                <thead><tr><th>TRACI 2.1</th></tr></thead>
                <tbody>
                    <tr><td>Tool for the Reduction and Assessment of Chemical and other environmental Impacts 2.1</td></tr>
                    <tr><td>Available from: the US EPA, Office of Research and Development</td></tr>
                    <tr><th>Disclaimer</th></tr>
                    <tr><td>
                        Use of TRACI, including but not limited to the impact assessment modeling,
                        does not create regulatory or scientific approval by the US EPA on any issues to
                        which it is applied, nor does it release any users from any potential liability,
                        either administratively or judicially, for any damage to human health or the environment.
                        The US EPA does not make any warranty concerning the correctness of the database, any
                        actions taken by third parties as a result of using the model, or the merchantability
                        or fitness for a particular purpose of the model.  The EPA does not endorse
                        any products or services.
                    </td></tr>
                </tbody>
            </table>
            <a href="/scenario/"><span class="btn btn-info">Run a Scenario</span></a>
            <a href="/projects/projects/"><span class="btn btn-info">Enter / Edit LCI Data</span></a>
        </div>

        <!-- Add scenario .xlxs file to open here -->

        <!-- List of teams tab -->
        <div class="tab-pane fade {% if open_tab == 'teams' %}active{% endif %} in" id="teams">
            <div class="padding10">
                <div class="content-group">
                    {% if teams %}
                    <div id="team_list">
                        <form class="form-horizontal">
                            <div class="form-group col-sm-5">
                                <div class="input-group">
                                    <input type="text" class="search form-control" placeholder="Search teams"
                                           aria-describedby="team-search-addon" />
                                    <div class="input-group-addon " id="team-search-addon">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <table class="bordered white table table-responsive table-hover">
                            <thead>
                                <tr>
                                    <th class="col-sm-4">Name</th>
                                    <th class="col-sm-5">
                                        Members <span class="text-muted" style="font-weight: normal;">(owner in bold)</span>
                                    </th>
                                    <th class="col-sm-3">Actions</th>
                                </tr>
                            </thead>
                            <tbody class="list">
                                {% for team in teams %}
                                <tr>
                                    <td class="name">{{team.name}}</td>
                                    <td>
                                        {% for membership in team.team_memberships %}
                                        {% if membership.is_owner %}<strong>{{membership.member.username}}</strong>{% else %}{{membership.member.username}}{% endif %}{% if not forloop.last %},{% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        <div class="small">
                                            <a href="{% url 'team_edit' team.id %}">Edit team name</a>                                        |
                                            <a href="{% url 'team_manage' team.id %}">Manage members</a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                    <div class="text-muted vmargin10">
                        You are not currently a member of any teams.
                    </div>
                    {% endif %}
                    <div>
                        <a href="{% url 'team_create' %}" class="btn btn-sm btn-default">
                            <span class="glyphicon glyphicon-plus"></span> Create Team
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Inventory of Stressors tab -->
        <!-- Will need to get with Jake on how to add the inventory here from TRACI workbook -->
        <div class="tab-pane fade {% if open_tab == 'Inventory of Stressors' %}active{% endif %} in" id="stressors">
            <div class="padding10">
                {% load static %}
                <img src="{% static 'img/traci.png' %}" alt="TRACI">
                <!-- Add stressors here from TRACI tool -->
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {% load static %}
    <script>
        $(document).ready( function () {
            $('[data-toggle="popover"]').popover({ html: true });
        } );

        function updateActive(e) {
            $('li').each(function(i){
                $(this).removeClass('active');
            });
            e.parentElement.classList.add('active');
        }
    </script>
{% endblock %}