asgiref==3.5.0
astroid==2.11.2
certifi==2021.10.8
charset-normalizer==2.0.12
colorama==0.4.4
dill==0.3.4
Django==4.0.4
django-session-security==2.6.6
djangorestframework==3.13.1
et-xmlfile==1.1.0
flake8==4.0.1
idna==3.3
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.6.1
openpyxl==3.0.9
pep8==1.7.1
platformdirs==2.5.1
psycopg2==2.9.3
pycodestyle==2.8.0
pydocstyle==6.1.1
pyflakes==2.4.0
pylint==2.13.5
pylint-django==2.5.3
pylint-plugin-utils==0.7
pytz==2022.1
requests==2.27.1
snowballstemmer==2.2.0
sqlparse==0.4.2
tomli==2.0.1
typing_extensions==4.1.1
tzdata==2022.1
urllib3==1.26.9
wrapt==1.14.0
