<div class="col-sm-4"><h4>Product List</h4></div>
<div class="col-sm-1 mx-1"><i onclick="addProduct({{object.id}})" class="fas fa-plus btn btn-sm btn-info"></i></div>
<div class="col-sm-1 mx-1"><i onclick="editProduct(this)" class="fas fa-edit btn btn-sm btn-warning" disabled></i></div>
<div class="col-sm-1 mx-1"><i onclick="removeProduct(this)" class="fas fa-minus btn btn-sm btn-danger" disabled></i></div>
            
<table class="table table-bordered table-hover">
    <caption>List of Products</caption>
    <thead class="table-secondary">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    {% if products_list %}
    <tbody>
        {% for prod in products_list %}
            <tr id="{{prod.id}}" onclick="rowClick('{{prod.id}}')">
                <th scope="row">{{prod.id}}</th>
                <td scope="row">{{prod.name}}</td>
            </tr>
        {% endfor %}
    </tbody>
    {% else %}
    <tr><td>No Products have been added!</td></tr>
    {% endif %}
</table>