#mobile-links li {
    list-style-type: none;
}

.centered {
    width: 100%;
    margin: auto auto;
}

.scroll {
    overflow-y: scroll;
}

.vmargin10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.vmargin20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.nopadding {
    padding: 0px;
}

.padding10 {
    padding: 10px;
}

.padding20 {
    padding: 20px;
}

.vpadding20 {
    padding-top: 20px;
    padding-bottom: 20px;

}

.vpadding10 {
    padding-top: 10px;
    padding-bottom: 10px;

}

.white-box {
    background: white;
    padding: 20px;
}

.white {
    background: white;
}

.bordered {
    border: 1px solid #ccc;
}

.separator {
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}
.nomargin {
    margin: 0px 0px;
}

.margin-set {
    margin-top:10px;
    margin-bottom:20px;
}
.green-header {
    margin: 0px;
    padding-top: 200px;
    color:green;
    font-size:48pt;
    font-weight:900;
    padding-left:20px;
}
.header-text {
    font-size:24pt;
    font-weight:600;
    padding-left:20px;
}
.header-paragraph {
    font-size:18pt;
    padding-left:20px;
}
.lime {
    background-color:#D6E5D2;
    margin:auto;
}
.errorlist {
    list-style-type:none;
    margin-left:-20px;
    margin-top:-20px;

}
.errorlist > li{
    list-style-type:none;
    color: #a94442;

  border-color: #ebccd1;
}
.list-group-item-success1 {
  color: #3c763d;
  background-color: #dff0d8;
  /*margin-left:15px;*/
  /*margin-right:12px;*/
}
.heat1 {
    background-color:#A50026;
    font-weight:700;
}
.heat2 {
    background-color:#D73027;
    font-weight:700;
}
.heat3 {
    background-color:#F46D43;
    font-weight:700;
}

.heat4 {
    background-color:#FDAE61;
    font-weight:700;
}
.heat5 {
    background-color:#FEE08B;
    font-weight:700;
}
.heat6 {
    background-color:#ffffbf;
    font-weight:700;
}

.heat7 {
    background-color:#d9ef8b;
    font-weight:700;
}
.heat8 {
    background-color:#a6d96a;
    font-weight:700;
}
.heat9 {
    background-color:#66bd63;
    font-weight:700;
}
.heat10 {
    background-color:#1A9850;
    font-weight:700;
}
a.list-group-item-success1:hover,
a.list-group-item-success1:focus {
  color: #3c763d;
  background-color: #d0e9c6;
  /*margin-left:15px;*/
  /*margin-right:12px;*/
}
a.list-group-item-success1.active,
a.list-group-item-success1.active:hover,
a.list-group-item-success1.active:focus {
  color: #fff;
  background-color: #3c763d;
  border-color: #3c763d;
  /*margin-left:15px;*/
  /*margin-right:12px;*/
}
.col-vs-12 {
    width: 100%;
    font-size:11px;
  }
.col-vs-1 {
    display:inline-block;
    width: 5%;
  }
.col-vs-2 {
    display:inline-block;
    width: 10%;
  }
.col-100 {
    display:inline-block;
    width: 100px;
  }
.col-300 {
    display:inline-block;
    width: 300px;
  }
table.scroller {
  table-layout: fixed;
  width: 1600px;
  *margin-left: -100px;/*ie7*/
  border-color: white;
  border: none;
  background: none;
}
  table.scroller td, th {
    vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    border-color: white;
    border: none;
    background: none;
  }
.top {
    height:65px;
}
table.scroller th {
    position:absolute;
    *position: relative; /*ie7*/
    left:0;
    width:300px;
    line-height:1em;
    font-size:11pt;
}
table.scroller td {
    text-align: right;
}

table.scroller td.align-left {
    text-align: left;
}
tr {
    padding-top:5px;
}


@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
  vertical-align:text-bottom;
}
.outer {
    width:1200px;

    }
.inner {
    overflow-x:scroll;
    overflow-y:visible;
    width:900px;
    margin-left:0px;
    z-index:-1;

}
table.scroller td.rotate-45 {
    text-align:left;
    /* Safari */
-webkit-transform: rotate(-40deg);

/* Firefox */
-moz-transform: rotate(-40deg);

/* IE */
-ms-transform: rotate(-40deg);

/* Opera */
-o-transform: rotate(-40deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    vertical-align: bottom;
    padding-left:40px;
    padding-top:30px;
    padding-bottom:0px;
}

.plain_text {
    font-weight:bold;
    background-color:#f0f0f0;
    border:1px solid #f0f0f0;
    font-size:16px;
    float:right;
    margin-top:3px;
    color:gray;
}
.plain_text_no_float {
    font-weight:bold;
    /*background-color:#f4f4f4;*/
    /*border:1px solid #f4f4f4;*/
    font-size:16px;
    margin-top:3px;
    color:gray;
}
.plain_text_left {
    font-weight:bold;
    background-color:#f4f4f4;
    border:1px solid #f4f4f4;
    font-size:16px;
    float:left;
    text-align:right;
    margin-top:3px;
    color:gray;
}
.btnb {
  display: inline-block;
  padding: 12px 12px;
  margin-bottom: 11px;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btnb:focus,
.btnb:active:focus,
.btnb.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btnb:hover,
.btnb:focus {
  color: #fff;
  text-decoration: none;
}
.btnb:active,
.btnb.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.underline {
    text-decoration:underline;
}

.aline {
    border-bottom:1px black solid;
    height:1px;
}
.link_blue {
    color:#428bca;
    font-weight:500;
}
.blue {
    color:#517BA5;
    font-weight:500;
}
.btn-blue {
    background-color:#517BA5;
    border-color:#88ACD0;
    color:#ffffff;
}
.light_blue {
    color:#88ACD0;
    font-weight:500;
}
.btn-light_blue {
    background-color:#88ACD0;
    border-color:#517BA5;
    color:#ffffff;
}
.dark_gray {
    color:#666666;
    font-weight:500;
}
.gray {
    color:#969696;
    font-weight:500;
}
.light_gray {
    color:#f4f4f4;
    font-weight:500;
}
.green {
    color:#4D8E4D;
    font-weight:500;
}

.light_green {
    color:#76B66C;
    font-weight:500;
}
.col-sm-2 ul {
    list-style:none;
    text-align:left;
    margin-left:0;
    padding-left:0;
}
.center-text {
    text-align:center;
}
.math_eq {
    height:60px;
    width:20px;
    border:1px solid red;
}

.math_eq > .up {
    position:relative;
    float:left;
    margin-left:-1em;
    top:-1.4em;
    font-size:10pt;
}
.math_eq > .mid {
    position:relative;
    top:1.1em;
    float:left;
    font-size:18pt;
}
.math_eq > .down {
    position:relative;
    top:2em;
    float:left;
    font-size:10pt;
}
.green_bg {
    background-color:#4D8E4D;
    font-weight:800;
    color:#ffffff;
}
.red_bg {
    background-color:red;
    font-weight:800;
    color:#ffffff;
}
.yellow_bg {
    background-color:yellow;
    font-weight:800;
    color:#000000;
}
.underscore {
    text-align:center;
    border-bottom:1px solid black;
    margin-left:15%;
    margin-right:15%;
}
.red {
    color:#9A0000;
}
.req {
    color:#9A0000;
    font-weight:900;
    font-size:14pt;
}
.align-left {
    text-align:left;
}
.align-right {
    text-align:right;
}
.btn-red {
    background-color:#9A0000;
    border-color:#F7A757;
    color:#ffffff;
}
.orange {
    color:#EE7700;
    font-weight:500;
}
.btn-orange {
    background-color:#EE7700;
    border-color:#F7A757;
    color:#ffffff;
}
.btn-green {
    background-color:#76B66C;
    border-color:#4D8E4D;
    color:#ffffff;
}
.light_orange {
    color:#F7A757;
    font-weight:500;
}
.beige {
    color:#F5ECB8;
    font-weight:500;
}
.light_yellow {
    color:#FFFFEB;
    font-weight:500;
}
.rss_feed_box {
    color:#C57118;
    font-weight:500;
}
.twitter_box {
    color:#006699;
    font-weight:500;
}
.wide_margin {
    margin-left:20px;
    margin-right:20px;
}
.blog_box {
    color:#006545;
    font-weight:500;
}
.polar_chart {
    font-size:9pt;
    width:100%;
    height:1100px;
    margin:0 auto;
    background-color:#79B4FF;
}
.form_not_input {
    font-weight:bold;
    font-size:1em;
    text-align:right;
    margin:0px;
    padding:0px;
}
.highlight {
    background-color:#FDFD96;
    font-weight:bold;
    font-size:1.1em;
    line-height:1.5em;

    padding-left:4px;
    padding-top:2px;
}
.reg {
    border:1.5px solid #47a447;
    border-radius: 4px;
    margin-bottom:0.5em;
    margin-top:0.5em;
    border-collapse:separate;
    border-spacing:2px;
    padding:8px;
    font-weight:bold;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}
.yellow {
    background-color:#FFFF0D;
}
.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-error hr {
  border-top-color: #e4b9c0;
}
.alert-error .alert-link {
  color: #843534;
}
.reg_b {
    border:1.5px solid #5bc0de;
    border-radius: 4px;
    margin-bottom:1em;
    border-collapse:separate;
    border-spacing:2px;
    padding:5px;
    font-weight:bold;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}
.submit_button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    margin-top: 20px;
    width:45%;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border:1.5px solid #DDDDDD;
  border-radius: 4px;
    color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}


.tab-body {
    border-top: none;
    padding: 15px;
/*    border-right: 1px solid rgb(221, 221, 221);
    border-left: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; */

}

.content-group {
    background: #F6F9FC;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.custom-file-upload-hidden {
    display: none;
    visibility: hidden;
    position: absolute;
    left: -9999px;
}
.custom-file-upload {
    display: block;
    width: auto;
    font-size: 16px;
    margin-top: 10px;
    border: 1px solid #ccc;
    label {
        display: block;
        margin-bottom: 5px;
    }
}

.file-upload-wrapper {
    position: relative;
    margin-bottom: 5px;
    //border: 1px solid #ccc;
}
.file-upload-input {
    width: $file-upload-size;
    color: #fff;
    font-size: 16px;
    padding: 11px 17px;
    border: none;
    background-color: #e74c3c;
    @include transition(all 0.2s ease-in);
    float: left; /* IE 9 Fix */

}
.file-upload-input:hover, .file-upload-input:focus {
    background-color: darken(#e74c3c, 5);
    outline: none;
}

.file-upload-button {
    cursor: pointer;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 11px 20px;
    border: none;
    margin-left: -1px;
    background-color: darken(#e74c3c, 10);
    float: left; /* IE 9 Fix */
}
.file-upload-button: {
    background-color: darken(#e74c3c, 20);
}




span.twitter-typeahead .tt-menu,
span.twitter-typeahead .tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
span.twitter-typeahead .tt-suggestion {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
span.twitter-typeahead .tt-suggestion.tt-cursor,
span.twitter-typeahead .tt-suggestion:hover,
span.twitter-typeahead .tt-suggestion:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #337ab7;
}
.input-group.input-group-lg span.twitter-typeahead .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.input-group.input-group-sm span.twitter-typeahead .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
span.twitter-typeahead {
  width: 100%;
}
.input-group span.twitter-typeahead {
  display: block !important;
  height: 34px;
  border-radius: 4px;
}
.input-group span.twitter-typeahead .tt-menu,
.input-group span.twitter-typeahead .tt-dropdown-menu {
  top: 32px !important;
}
.input-group span.twitter-typeahead:not(:first-child):not(:last-child) .form-control {
  border-radius: 0px;
}
.input-group span.twitter-typeahead:last-child .form-control {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.input-group.input-group-sm span.twitter-typeahead {
  height: 30px;
}
.input-group.input-group-sm span.twitter-typeahead .tt-menu,
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
  top: 30px !important;
}
.input-group.input-group-lg span.twitter-typeahead {
  height: 46px;
}
.input-group.input-group-lg span.twitter-typeahead .tt-menu,
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
  top: 46px !important;
}

.list-group-item.active a {
    color: white;
}

.form-horizontal .control-label.text-left{
    text-align: left;
}

.row-condensed .col-sm-1,
.row-condensed .col-sm-2,
.row-condensed .col-sm-3,
.row-condensed .col-sm-4,
.row-condensed .col-sm-5,
.row-condensed .col-sm-6,
.row-condensed .col-sm-7,
.row-condensed .col-sm-8,
.row-condensed .col-sm-9,
.row-condensed .col-sm-10,
.row-condensed .col-sm-11,
.row-condensed .col-sm-12
{
    padding-right: 0px;
}


label.required:after  {
  content:" *";color:#A94442;
}

.popover-content {
    padding: 0;
}

.calc-value, .calc-value input {
    font-weight: bold;
    color: #337AB7;
}

.summary-header {
    /*border-top: 1px solid #ddd; */
    color: #337AB7;
    padding: 10px;
}

.modal-backdrop {
  z-index: 0;
}
