<div class="row">
    <label class="col-md-3 text-right">Project Name</label>
    <div class="col-md-9">{{object.name}}</div>
</div>

<div class="row">
    <label class="col-md-3 text-right">Version</label>
    <div class="col-md-9">{{object.version}}</div>
</div>

<div class="row">
    <label class="col-md-3 text-right">Organization</label>
    <div class="col-md-9">{{object.organization}}</div>
</div>

<div class="row">
    <label class="col-md-3 text-right">Organizational Unit</label>
    <div class="col-md-9">{{object.org_unit}}</div>
</div>

<div class="row">
    <label class="col-md-3 text-right">Point of Contact</label>
    <div class="col-md-9">{{object.contact}}</div>
</div>
<div class="row">
    <label class="col-md-3 text-right">Phone Number</label>
    <div class="col-md-9">{{object.phone_num}}</div>
</div>

<div class="row">
    <label class="col-md-3 text-right">Scope</label>
    <div class="col-md-9">{{object.scope}}</div>
</div>

<div class="row">
    <label class="col-md-3 text-right">Description</label>
    <div class="col-md-9">{{object.description}}</div>
</div>

<div class="row">
    <label class="col-md-3 text-right">Functional Unit</label>
    <div class="col-md-9">{{object.functional_unit}}</div>
</div>