{% extends "main/base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Project Calculations Form TODO</h2>
        </div>
        <form method="post">
            <button type="submit" class="btn btn-md btn-info">
                Run Calculation
            </button>
        </form>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    //function runCalculationsProject() {
    //    window.location.href = '/projects/calculations/' + $("#runCalculationsButton").val() + '/';
    //}
</script>
{% endblock %}